<html>
<head>
  <title> Nuevo miembro </title>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    <!-- width: 100%; -->
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  </style>
</head>

<body>

<h1>Nuevo miembro</h1>

{# src/DatabaseBundle/Resources/views/Default/new.html.twig #}

<table style="width:100%">
  <td>
    {{ form(personalDataForm) }}
  </td>
</table>

<table>
  <tr>
<!--
    <td>
      <a href="/person/new"> Añadir miembro </a>
    </td>
-->
    <td>
      <a href="/person/showAll"> Mostrar todos </a>
    </td>
    <td>
      <a href="/person/showPlayers"> Mostrar jugadores </a>
    </td>
</body>
</html>
