{# src/DatabaseBundle/Resources/views/journal/showfirstentries.html.twig #}
<div class="modal fade" id="showEntries" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="showEntriesModalLabel">
            {% trans %} showjournal {% endtrans %}
        </h4>
        {% set size = (personalData.getJournalEntriesBySeason(curSeason)|length) %}
        {% if size > 0 %}
            {% for i in size-1..0 %}
                {% set entry = personalData.getJournalEntriesBySeason(curSeason)[i] %}
                <div class="col" align="left">
                    {{ entry.getDate().format('d-m-Y') }} - <strong>{{ entry.getTitle }}</strong>
                </div>
                <div class="col" align="right">
                    <a href="#" data-toggle="modal" data-target="#editEntry-{{i}}" data-dismiss="modal">{% trans %} edit {% endtrans %}</a>
                </div>
                <br>
                <div class="col" align="left">
                    {{ entry.getText() }}
                <br>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %} close {% endtrans %}</button>
      </div>
    </div>
  </div>
</div>
