{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %} {% trans %} showusers {% endtrans %} {% endblock %}

{%block body %}
<h1>{% trans %} users {% endtrans %}</h1>

{# src/DatabaseBundle/Resources/view/admin/showusers.html.twig #}
{% if deleted is defined %}
  {% if deleted == true %}
    <span>{% trans %} deleteduser {% endtrans %}</span>
  {% else %}
    <span>{% trans %} cannotdeleteadmin {% endtrans %}</span>
  {% endif %}
{% endif %}

<table style="width: 100%">
<tr>
  <th><strong>{% trans %} user {% endtrans %}</strong></th>
  {# TODO: password needs to be skipped #}
  <th><strong>{% trans %} password {% endtrans %}</strong></th>
  <th><strong>{% trans %} role     {% endtrans %}</strong></th>
</tr>
{% for user in userData %}
  <tr>
    <td> {{ user.getUsername() }} </td>
    <td> ***************** </td>
    <td> {% if user.getRole() == "ROLE_ADMIN" %}
            {% trans %} admin {% endtrans %}
         {% elseif user.getRole() == "ROLE_USER" %}
            {% trans %} user {% endtrans %}
         {% elseif user.getRole() == "ROLE_ACCOUNTING" %}
            {% trans %} accouting {% endtrans %}
         {% endif %}
    </td>
    <td> <a href="/admin/editUser/{{user.getId()}}">{% trans %} edit {% endtrans %} </a></td>
    <td> <a href="/admin/deleteUser/{{user.getId()}}" onclick="return confirm('¿Estás seguro de querer borrar este usuario?')">{% trans %} delete {% endtrans %}</a> </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
