<!DOCTYPE html>
  <html>
    <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} - CR3C</title>
    <style type="text/css">
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        <!-- width: 100%; -->
      }

      td, th {
        border: 1px solid #dddddd;
        ext-align: left;
        adding: 8px;
      }
      </style>
    {% endblock %}
    <a href= "{{ path('logout') }}">Logout</a>
    </head>

    <body>
      <div id="content">
        {% block body %} 
        {% endblock %}
      </div>
      <div id="sidebar">
          {% block sidebar %}
          <br><br><br>
          <table>
            <tr>
              <th>
                <a href="/admin/newUser">Añadir usuario</a>
              </th>
            </tr>
          </table>
          {% endblock %}
      </div>
      <div id="footer">
        {% block footer %}
          &copy; Copyright 2016 by Balmaservices
        {% endblock %}
      </div>
    </body>
</html>
