<!DOCTYPE html>
  <html>
    <head>
    {% block stylesheets %}
        <link href="{{ asset("css/main.css") }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} - CR3C</title>
    {% endblock %}
    </head>
    <body>
      <div id="container">
        <img src="{{ asset('/images/Rugby-Tres-Cantos-Banner.jpg') }}" alt="banner" width="100%" />
          <ul class="nav">
            <li><a href="/people/showAll">Gestión de los miembros</a>
              <ul>
                  <li><a href="/people/showAll">Todos</a></li>
                  <li><a href="/people/showMembers">Socios</a></li>
                  <li><a href="/people/showParents">Padres</a></li>
              </ul>
            </li>
            <li><a href="/people/showSenior">Gestión del equipo</a>
              <ul>
                  <li><a href="/person/new">Añadir Miembro</a></li>
                  <li><a href="/people/new">Importar</a></li>
                  <li><a href="/team/showSenior">Equipo Senior</a></li>
                  <li><a href="/team/showFemale">Equipo Femenino</a></li>
                  <li><a href="/team/showSub18">Equipo Sub18</a></li>
                  <li><a href="/team/showSub16">Equipo Sub16</a></li>
                  <li><a href="/team/showSub14">Equipo Sub14</a></li>
                  <li><a href="/team/showSub12">Equipo Sub12</a></li>
                  <li><a href="/team/showSub10">Equipo Sub10</a></li>
                  <li><a href="/team/showSub8">Equipo Sub8</a></li>
                  <li><a href="/team/showSub6">Equipo Sub6</a></li>
              </ul>
            </li>
            <li><a href="/admin/showUsers">Gestión de usuarios</a>
              <ul>
                  <li><a href="/admin/newUser">Añadir usuario</a></li>
                  <li><a href="/admin/showUsers">Mostrar usuarios</a></li>
              </ul>
            </li>
            <li><a href="/season/showSeasons">Gestión de temporadas</a>
              <ul>
                  <li><a href="/admin/newSeason">Añadir temporada</a></li>
                  <li><a href="/season/showSeasons">Mostrar temporadas</a></li>
              </ul>
            </li>
            <li><a href="/user/changePassword">Cambiar contraseña</a></li>
            <li align="right"><a href="{{ path('logout') }}">Logout</a></li>
          </ul>
          {% block body %} 
          {% endblock %}
        <div id="footer">
          {% block footer %}
            &copy; Copyright 2016 by Balmaservices
          {% endblock %}
        </div>
      </div>
    </body>
</html>
