<!DOCTYPE html>
  <html>
    <head>
    {% block stylesheets %}
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="{{ asset("css/main.css") }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} - CR3C</title>
    {% endblock %}
    </head>
    <body>
      <div id="container">
        <img src="{{ asset('/images/Rugby-Tres-Cantos-Banner.jpg') }}" alt="banner" width="100%" />
          <ul class="nav">
            <li><a href="/people/showAll/1">{% trans %} membermanagement {% endtrans %}</a>
              <ul>
                  <li><a href="/people/showAll/1">{% trans %} all {% endtrans %}</a></li>
                  <li><a href="/people/showMembers">{% trans %}members{% endtrans %}</a></li>
                  <li><a href="/people/showParents">{% trans %}parents{% endtrans %}</a></li>
              </ul>
            </li>
            <li><a href="/team/showSenior/1">{% trans %} playermanagement {% endtrans %}</a>
              <ul>
                  <li><a href="/person/new">{% trans %} addmember {%endtrans %}</a></li>
                  <li><a href="/people/new">{% trans %} import{% endtrans %}</a></li>
                  <li><a href="/team/showSenior/1">{% trans %}seniorteam{% endtrans %}</a></li>
                  <li><a href="/team/showFemale/1">{% trans %}femaleteam{% endtrans %}</a></li>
                  <li><a href="/team/showSub18/1">{% trans %}u18team{% endtrans %}</a></li>
                  <li><a href="/team/showSub16/1">{% trans %}u16team{% endtrans %}</a></li>
                  <li><a href="/team/showSub14/1">{% trans %}u14team{% endtrans %}</a></li>
                  <li><a href="/team/showSub12/1">{% trans %}u12team{% endtrans %}</a></li>
                  <li><a href="/team/showSub10/1">{% trans %}u10team{% endtrans %}</a></li>
                  <li><a href="/team/showSub8/1"> {% trans %}u8team{% endtrans %}</a></li>
                  <li><a href="/team/showSub6/1"> {% trans %}u6team{% endtrans %}</a></li>
              </ul>
            </li>
            {% if is_granted("ROLE_ADMIN") %} 
            <li><a href="/admin/showUsers">{% trans %} usermanagement {% endtrans %}</a>
              <ul>
                  <li><a href="/admin/newUser">{% trans %} adduser {% endtrans %}</a></li>
                  <li><a href="/admin/showUsers">{% trans %} showusers {% endtrans %}</a></li>
              </ul>
            </li>
            {% endif %}
            <li><a href="/season/showSeasons">{% trans %} seasonmanagement {% endtrans %}</a>
              <ul>
                  <li><a href="/season/newSeason">{% trans %} addseason {% endtrans %}</a></li>
                  <li><a href="/season/showSeasons">{% trans %} showseasons {% endtrans %}</a></li>
              </ul>
            </li>
            <li><a href="/user/changePassword">{% trans %} passwordchange {% endtrans %}</a></li>
            <li align="right"><a href="{{ path('logout') }}">{% trans %} logout {% endtrans %}</a></li>
          </ul>
          {% block body %} 
          {% endblock %}
        <div id="footer">
          {% block footer %}
            &copy; {% trans %} copyright {% endtrans %}
          {% endblock %}
        </div>
      </div>
    </body>
</html>
