<!DOCTYPE html>
  <html>
    <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} - CR3C</title>
    <style type="text/css">
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        <!-- width: 100%; -->
      }

      td, th {
        border: 1px solid #dddddd;
        ext-align: left;
        adding: 8px;
      }
      </style>
    {% endblock %}
    {% if is_granted("ROLE_ADMIN") %}
      <a href="/admin/showUsers">Gestión de usuarios</a>
    {% endif %}
    <a href="/user/changePassword">Cambiar contraseña</a>
    <a href="{{ path('logout') }}">Logout</a>
    </head>

    <body>
      <div id="content">
        {% block body %} 
        {% endblock %}
      </div>
      <div id="sidebar">
          {% block sidebar %}
          <br><br><br>
          <table>
            <tr>
              <th>
                <a href="/person/new">Añadir Miembro</a>
              </th>
              <th>
                <a href="/people/showAll">Mostrar todo</a>
              </th>
              <th>
                <a href="/team/showSenior">Equipo Senior</a>
              </th>
              <th>
                <a href="/team/showFemale">Equipo Femenino</a>
              </th>
              <th>
                <a href="/team/showCadete">Equipo Cadete</a>
              </th>
              <th>
                <a href="/team/showAlevin">Equipo Alevín</a>
              </th>
              <th>
                <a href="/team/showBenjamin">Equipo Benjamín</a>
              </th>
              <th>
                <a href="/team/showPrebenjamin">Equipo Prebenjamín</a>
              </th>
              <th>
                <a href="/people/showParents">Padres de la escuela</a>
              </th>
              <th>
                <a href="/people/showMembers">Socios del club</a>
              </th>
            </tr>
          </table>
          {% endblock %}
      </div>
      <div id="footer">
        {% block footer %}
          &copy; Copyright 2016 by Balmaservices
        {% endblock %}
      </div>
    </body>
  </html>
