{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %} Nuevo miembro {% endblock %}

{% block body %}
<h1>Nuevo miembro</h1>

{# src/DatabaseBundle/Resources/views/Default/new.html.twig #}

<table style="width:100%">
  <td>
    {{ form(personalDataForm) }}
  </td>
</table>
{% endblock %}

