{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %} Nuevo miembro {% endblock %}

{% block body %}
<h1>Nuevo miembro</h1>

{# src/DatabaseBundle/Resources/views/Default/new.html.twig #}

{{ form_start(wholePersonForm) }}
<table style="width:100%">
  <tr>
    <td>
      {{ form_row(wholePersonForm.personalData) }}
    </td>
  </tr>
  <tr>
    <td>
      {{ form_row(wholePersonForm.save) }}
    </td>
  </tr>
</table>
{{ form_end(wholePersonForm) }}
{% endblock %}

