{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
    {% trans %} showseasons {% endtrans %}
{% endblock %}

{% block body %}
<h1>Temporadas existentes</h1>
{% if deleted is defined %}
  {% if deleted %}
    <span>
        {% trans %} deletedseasonsucess {% endtrans %}
    </span>
  {% else %}
    <span>
        {% trans %} deleteddefaultseasonserror {% endtrans %}
    </span>
  {% endif %}
{% endif %}
{% if seasons|length == 0 %}
  <span> {% trans %} noseason {% endtrans %}<a href="/season/newSeason">{% trans %} addoneseason {% endtrans %}</a></span>
{% else %}
  <table>
  <tr>
    <th><strong>{% trans %}season{% endtrans %}</strong></th>
    <th><strong>{% trans %}default{% endtrans %}</strong></th>
  <tr>
  {% for season in seasons %}
    <tr>
      <td> {{ season.getSeasonText() }} </td>
      <td align="center">
           {% if season.getDefaultseason() == 1 %} 
                X
           {% endif %}
      </td>
      <td><a href="/season/editSeason/{{season.getId()}}">{% trans %} edit {% endtrans %}</a></td>
      <td><a href="/season/deleteSeason/{{season.getId()}}" onclick="return confirm('¿Estás seguro de querer borrar esta temporada? Eliminará todos los datos relacionados con ella')">{% trans %} delete {% endtrans %}</a></td>
    </tr>
  {% endfor %}
{% endif %}
<table>
</table>
{% endblock %}
