<div id="rightside">
  <table>
    <td>
      <a href="/season/newSeason">Añadir temporada</a>
    </td>
    <td>
      <a href="/season/showSeasons">Mostrar Temporadas</a>
    </td>
  </table>
</div>
